.headers {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:right;
    flex-direction: row;
    background: #a1858583;
    padding: 0 5% 0 5%;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

li {
    display: inline-block;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #5d4343;
    font-style: italic;
    font-size: 22px;
}

a:hover {
    color: #605151;
    font-weight: 800;
}

.imgHeader {
    width: 40px;
    height: 40px;
}