[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.headers {
    height: 100%;
    width: 100%;
    background: #a1858583;
}

.headers__container {
    position: relative;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    flex-direction: row;
}

.homeSign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 10px;
}

.imgHeader {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.right {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 5px;
}

.right ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 50px 0px 10px;

    max-width: 600px;
}

.right ul li {
    display: inline-flex;
    padding: 10px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #5d4343;
    font-style: italic;
    font-size: 22px;
}

a:hover,
a:focus {
    color: #433636;
    text-shadow: 1px 1px 2px #5d4c4c;
}

.slide_nav_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    color: #5d4343;
    cursor: pointer;
    font-size: 26px;
    padding: 10px;
    margin: 0px;

    width: 40px;
    height: 40px;
}

@media (max-width: 769px) {
    .headers__container {
        position: relative;
        height: 80px;
        display: flex;
        align-items: center;
        padding: 0px 5px;
    }

    .homeSign {
        margin-left: 20px;
    }

    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding-top: 160px;
        transform: translateX(5%);
    }

    .right .active {
        transform: translateX(0);
    }
.right ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    width: 200px;
    background: #ffffffcc;
    padding: 20px 10px;
}
.right ul li:hover {
    font-weight: 800;
    background: #9d7e7ed5;
}
    /* .right li {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        text-align: center;
        width: 180px;
        background: #ffffffcc;
        padding: 15px 40px;

        background: #a62c2c81;
    } */


    



    a {
        font-size: 14px;
    }

    .slide_nav_btn {
        position: absolute;
        top: 100px;
        right: 40px;

        display: flex;
        opacity: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #5d4343;

        width: 40px;
        height: 40px;
    }
}