.headers {
    min-height: 100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:right;
    flex-direction: row;
    background: #a1858583;
    padding: 0  100px 0 100px;
}

.homeSign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.right ul li {
    display: inline-block;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #5d4343;
    font-style: italic;
    font-size: 22px;
}

a:hover {
    color: #605151;
    font-weight: 800;
}

.imgHeader {
    width: 25px;
    height: 25px;
}

.slide_nav_btn {
    display: flex;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #5d4343;
    position: absolute;
    cursor: pointer;
    top: 20px;
    left: 90%;
}

@media (max-width: 769px) {
    .headers {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 5% 0 5%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 15px;
    width: 10rem;
    padding-right: 50px;
    padding-top: 500px;
    transform: translateX(50%); 
}

.right .active {
    transform: translateX(0); 
}

.right li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: center;
    width: 150px;
    background: #ffffffb5;
    padding: 15px;
    position: relative;
}

a {
    font-size: 14px;
}

.slide_nav {
    display: flex;
}

.slide_nav_btn {
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #5d4343;
    position: absolute;
    top: 20px;
    left: 40%;
}
}

