[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
}

.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}
/* bronzerMain ############################# */
.contentBlock {
    width: 100vw;
}
.mainTitle {
    display: flex;
    justify-content: center;
    text-align: center;
    text-shadow: 4px 4px 4px #927c7c;
    color: #605151;
    font-weight: 800;
    font-size: 34px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    background: #a1858533;
}

.navbar .mainList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    flex-direction: row;
    height: 100%;
    padding: 10px;
    font-size: 18px;
    text-shadow: 4px 4px 4px #927c7c;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mainList li {
    padding: 0px 10px;
}

.main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blockCenterContent {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% -30px);
    height: 100%;
    justify-content: center;
    align-items: center;
}
/* bronzerAdd ################################# */
.block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center; 
    padding: 10px;
    margin: 30px 15px;
    width: 240px;
    height: 380px;
    background: #fefefecf;
}
.block:hover {
    box-shadow: 5px 5px 50px 5px #927c7c,
    inset 1px -1px 10px #927c7c;
    border-radius: 10px;
}

.addImg {
    width: 150px;
    height: 150px;
    margin-top: 30px;
}

.addImg img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.title {
    padding: 10px;
    margin: 5px;
    text-shadow: 4px 4px 4px #927c7c;

    font-size: 22px;
}
.addParagraph {
    margin: 5px 0px 0px 0px;
    font-size: 22px;
    font-weight: 500;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* bronzerDetails ################ */
.blockDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20%;

    width: 100%;
}

.detailsImg {
    width: 400px;
    height: 400px;
    margin-top: 50px;
}

.detailsImg img {
    width: 100%;
}
.detailsParagraph {
    display: flex;
    color: #5d4343;
    font-style: italic;
    text-align: justify;
    font-size: 22px;
    line-height: 36px;
    margin: 5px;
}

.detailsParagraph__linksDet {
    text-decoration: none;
    color: #5d4343;
    font-style: italic;
    font-size: 22px;

    font-weight: 600;
    text-decoration: underline double 1px #5d4343;
}
span {
    color: #a18585;
    font-style: italic;
    font-size: 24px;
    font-weight: 800;
    margin-right: 10px;
}

@media (max-width: 769px) {
    .pagination {
        padding: 0px 30px;
    }

    .mainTitle, .title {
        font-size: 24px;
    }

    .navbar ul li {
        padding: 10px;
        font-size: 16px;
    }

    .addParagraph, .detailsParagraph {
        font-size: 16px;
    }

    .block {
        width: 240px;
        height: 400px;
    }

/*  */
    .blockDetails {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        /* box-sizing: border-box; */
    }

    .detailsImg {
        width: 250px;
        height: 250px;
    }

    .detailsParagraph {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* text-align: justify; */
        box-sizing: border-box;
        width: 100vw;
        padding: 5px 30px;
    }

    span {
        font-size: 18px;
        padding-right: 10px;
    }
}

    /* .blur {
        width: 100%;
        height: 100%;
        right: 9rem;
        backdrop-filter: blur(3px);
        position: absolute;
    } */
