.wrapper {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;

    /* border: 1px solid red; */
    /* max-width: 1400px; */
}

.mainLayout {
    background: #f3f2f2;
    display: flex;
    justify-content: center;
    
    flex: 1 1 auto;
}

